.navbar {

    width: 96%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-right: 4%;
    align-items: center;
    height: fit-content;
    padding-top: 0;
    padding-bottom: 0;


    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .nav_menu {
        display: flex;
        flex-direction: row;

        .menu_item {

            list-style: none;
            font-weight: bold;

            &:hover {
                background-color: aquamarine;
            }
        }
    }

    .user {
        font-size: 28px;
        color: rgb(25, 105, 209);
        position: relative;

        .dropdown_menu {
            background-color: rgb(255, 255, 255);
            padding: 45px;
            position: absolute;
            top: 25px;
            right: 0;
            border: 1px solid rgb(177, 168, 168);

            z-index: 120;

            .login_btn {
                color: rgb(207, 16, 16);
                padding: 6px;
                padding-right: 15px;
                padding-left: 15px;
                font-size: 18px;
                font-weight: bold;
                border: 1px solid rgb(207, 16, 16);

                &:hover {
                    background-color: red;
                    color: white;
                }
            }

            .signup_btn {
                color: rgb(223, 211, 211);
                padding: 6px;
                padding-right: 15px;
                padding-left: 15px;
                font-size: 18px;
                margin-top: 12px;
                font-weight: bold;
                background-color: rgb(207, 16, 16);
                border: none;
                cursor: pointer;

                &:hover {
                    background-color: red;
                    color: white;
                }
            }

        }
    }
}